/*清除默认样式*/
body,hr,h2,h3,ul,p{
    margin: 0;
}
ul{
    padding: 0;
}
hr{
    border: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/*在完整页面下中fontsize为100px，1rem=100px*/
/*common*/
.container{
	max-width: 750px;
	height:100%;
    margin: 0 auto;
}
body{
    overflow-x:hidden;
    font-family: "Microsoft YaHei",sans-serif;
    font-size: 0.24rem;
}
.fr{
	float: right;
}
.fl{
	float:left;
}
.cl{
    zoom: 1;
}
.cl:after{
    display: block;
    content: "";
    clear: both;
    height: 0;
    visibility: hidden;
}

/*header*/
.header{
	width: 100%;
	height:1rem;
	background: rgba(255,255,255,0.7);
	position: absolute;
}
.header .container{
	box-sizing: border-box;

}
.header .container>img:nth-child(1){
	height: 0.7rem;
	margin: 0.1rem 0;
	padding: 0 0.4rem;
	transition: 1s;
	display: block;
}
.header .container>img:nth-child(2){
	height: 0.6rem;
	margin: 0.2rem 0;
	padding: 0 0.4rem;
}
.header .container>img:nth-child(3){
	height: 0.6rem;
	margin: 0.2rem 0;
	padding: 0 0.4rem;
}
.header .upup{
	display: none;
}
.header .msg{
	width: 94%;
	margin: 0.2rem 3%;
	box-sizing: border-box;
	height: 70%;
	display: flex;
	align-items:center;
	background: #333;
	border-radius: 0.5rem;
	position: relative;
}
.header .container .msg:before{
	content: " ";
    display: block;
    width: 0.03rem;
    height: 0.44rem;
    background: #666;
    position: absolute;
    top: -0.44rem;
    right: 0.46rem;
}
.header .msg img{
	height: 0.3rem;
	padding: 0 0.4rem;
}
.header .msg span{
	color: #fff;
}

.footer{
	width: 100%;
    /*height: 250px;*/
    position: fixed;
    bottom: 0;
}
.footer .container{
	position: relative;
}
.footer .container>div:nth-child(1){
	position: absolute;
	right: 25px;
	top: -90px;
}
.footer .container>div:nth-child(1) img{
	width: 30px;
	display: block;
	margin: 10px;
}
.footer .container>div:nth-child(2){
	height: 70px;
	border-radius: 50% / 100% 100% 0 0;
	background: #eee;
	text-align: center;
}
.footer .container>div:nth-child(3){
	height: 180px;

}
.footer .container>div:nth-child(2) img{
	width: 30px;
	margin: 20px;
}
.footer .container>div div:nth-child(1){
	height: 120px;
	overflow: hidden;
	background: #eee;
}
.footer .container>div div:nth-child(1) #btn{
	width: 100px;
	height: 100px;
	margin: 10px auto;
	text-align: center;
	line-height: 100px;
	background: #fedb00;
	border-radius: 50%;
}
.footer .container>div div:nth-child(2){
	height: 80px;
	display: flex;
	justify-content: space-between;
	background: #eee;
}
.footer .container>div div:nth-child(2) img{
	height: 40px;
	padding: 0 30px;
}

.shang{
	background: #fff;
	width: 100%;
	position: fixed;
	height: 25%;
	top: -25%;
}
.shang #del{
	width: 100px;
	height: 100px;
	float: right;
	text-align: center;
	line-height: 100px;
	font-size: 40px;
}
.xia{
	background: yellow;
	width: 100%;
	position: fixed;
	height: 75%;
	top: 100%;
}