/*commont*/
.container{
    width: 1111px;
    margin:0 auto;
    height: 100%;
}
.cl{
    zoom: 1;
}
.cl:after{
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height: 0
}
.mainCont{

}
/*header start*/
.header{
    line-height: 35px;
    background: #f5f5f5;
}
.header a{
    color: #000;
}
.header a:hover{
    color: red;
}
.header span{
    font-size: 12px;
}
.header span a{
    padding: 0 20px 0 0;
}
.header span:first-child{
    margin: 0 0 0 12px;
    float: left;
}
.header span:last-child{
    float: right;
}
.header ul{

}
.header ul li{
    float: left;
    margin:0 20px 0 0;

}
.header ul li a{
    font-size: 12px;
    border-right: 1px solid #999;
}
.header ul li:last-child a{
    border: 0;
}
#login a,#register a{
    color: red;
}
/*header end*/

/*lsg start*/
.lsg{
    padding: 15px 0 15px 0;
}
.lsg .container>div{
    float: left;
}
.lsg .container>div:first-child img{
    vertical-align:middle;
}
.lsg .search{
    position: relative;
}
.search .subBox{
    position: absolute;
    width: 400px;
    height: 40px;
    top: 10px;
}
.subBoxDiv{
    position: relative;
    width: 400px;
    height: 40px;
}
.subBoxDiv input{
    height: 100%;
    float: left;
}
.subBoxDiv input:first-child{
    box-sizing: border-box;
    border: 1px solid red;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    width: 80%;
    padding: 0 0 0 10px;
}
.subBoxDiv input:last-child{
    border: 1px solid red;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    width: 20%;
    cursor: pointer;
}
.subBox .tishi{
    position: absolute;
    width: 400px;
    height: 20px;
    line-height: 20px;
}
.subBox .tishi ul{

}.subBox .tishi ul>a{
    float: right;
    color: red;
 }
.subBox .tishi ul li{
    float: left;
    margin: 0 10px 0 0;
}
.subBox .tishi ul li a{
    color: #333;
}
.subBox .tishi ul li a:hover{
    color: red;
}
/*lsg end*/

/*nav start*/
.nav{
    background:#000;
    line-height: 40px;
}
.nav ul{

}
.nav ul li{
    float: left;
    margin: 0 20px 0 0;
}
.nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
}

/*nav end*/

/*banner start*/
.banner{
    height: 420px;
    position: relative;
}
.banner .tup{

}
.tup ul{

}
.tup ul li{
    width: 100%;
    height: 420px;
    margin: 0 auto;
    z-index: 1;
}
.tup ul li:nth-child(1){
    background: url('../img/banner01.jpg') no-repeat top center;
}
.tup ul li:nth-child(2){
    background: url('../img/banner02.jpg') no-repeat top center;
}
.tup ul li:nth-child(3){
    background: url('../img/banner03.jpg') no-repeat top center;
}
.tup ul li:nth-child(4){
    background: url('../img/banner04.jpg') no-repeat top center;
}
.tup ul li a{
    display: block;
    width: 100%;
    height: 85%;
}
.banner .ann{
    width: 200px;
    line-height: 20px;
    position: absolute;
    bottom:5%;
    left:42%;
}
.ann ul{
    display: flex;
    justify-content: space-around;
}
.ann ul li{
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 9;
    opacity: 0.4;
    border-radius: 50%;
    background:#333;
    border: 3px solid rgba(255,255,255,0.7);
}
.ann ul li a{
    color:transparent;
    cursor: default;
}
.ann ul li.dActive{
    background: #fa3778;
}
/*banner end*/

/*cont start*/
.cont{
    background: rgb(242,242,242);
}
.cont .container{
    overflow: hidden;
}
.cont .container .must1{
    height: 26px;
    margin-top: 30px;
    margin-bottom: 26px;
    background:url('../img/cont_tu01.png') no-repeat center center;
}
.cont .product{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}
.cont .product a{
    display: block;
    width: 550px;
    margin:0 0 11px 0;
}
.cont .product .product_next{
    height: 260px;
    /*background: pink;*/
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    border: 1px solid #eee;
    background-color: white;
    box-sizing: border-box;
}
.cont .product .product_next:hover{
    box-shadow: 0px 0px 6px 2px #ddd;
}
.product_next img{
    width: 360px;
}
.product_next .intro{
    width:190px;
    position: relative;
}
.product_next .intro p{
    text-align: center;
}
.product_next .intro p:nth-child(1){
    margin-top: 60px;
    font-size: 22px;
    color: #e93b78;
}
.product_next .intro p:nth-child(2){
    color: #5a5a5a;
    font-size: 17px;
    margin-top: 10px;
}
.product_next .intro p:nth-child(3){
    color: #5a5a5a;
    font-size: 13px;
    margin-top: 3px;
}
.product_next .intro span{
    display: block;
    width: 108px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 42px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    background-color: #e93b78;
    letter-spacing: 1px;
}
.product_next .intro span:hover{
    background-color: #c53265;
    cursor: default;
}


.cont .container .must2{
    height: 26px;
    margin-top: 30px;
    margin-bottom: 26px;
    background:url('../img/cont_tu02.png') no-repeat center center;
}
.cont .product2{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}
.product2 .product_next2{
    width: 260px;
    height: 360px;
    background: #fff;
    overflow: hidden;
    margin: 0 5px 15px 0;
    padding:18px 5px 8px;
    position: relative;
    border: 1px solid #fff;

}
.product2 .product_next2:hover{
    /*border: 1px solid red;*/

}
.product2 .product_next2 img{
    max-width: 250px;
    max-height: 250px;
    padding: 1px;
    transition: all 500ms;
}
.product2 .product_next2 img:hover{
    transform: scale(1.1);

}
.product2 .product_next2 .new_icon{
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 10px;
    background: #80b53f;
}
.product2 .product_next2 .new_icon p{
    padding: 6px 0;
    font-size: 13px;
    line-height: 14px;
    color: #fff;
    letter-spacing: 1px;
}
.new_intro{
    height: 33px;
    line-height: 16px;
    padding: 0 15px;
    margin:10px 0 30px 0;
    overflow: hidden;
}
.new_intro a{
    font-size: 13px;
    color: #222;
}
.new_price{
    height: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
}
.new_price span{
    float: left;
}
.new_price span:nth-child(1){
    color: #fc3f83;
    font-size: 13px;
    margin: 3px 0 0 0;
}
.new_price span:nth-child(2){
    color: #fc3f83;
    font-size: 18px;
}
.new_price span:nth-child(3){
    margin: 5px 0 0 10px;
}
/*cont end*/

/*foot-co start*/
.foot-co{
    /*background: pink;*/
}
.foot-co .foot-left{
    width: 750px;
    padding: 5px 0 60px;
    float: left;
}
.foot-co .foot-left .item-co{
    width: 90px;
    float: left;
    margin: 16px 80px 0 0;
    overflow: hidden;
}
.foot-co .foot-left .item-co dl{
    line-height: 2em;
}
.foot-co .foot-left .item-co dt a{
    color: #222;
    font-size: 14px;
    font-weight: bold;
}
.foot-co .foot-left .item-co dd a{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-size: 12px;
    line-height: 25px;
    color: #999;
}
.foot-co .foot-right{
    width: 350px;
    padding: 5px 0 60px;
    float: right;
}
/*foot-co end*/

/*foot-link start*/
.foot-link{
    background: #000;
}
.foot-link .linkboard{
    padding: 26px 0 10px;
}
.foot-link .linkboard a{
    display: block;
    color: #fff;
    float: left;
    padding: 5px;
}
.foot-link .linkboard .fen{
    display: inline-block;
    padding: 5px;
    color: #fff;
    font-size: 12px;
}
.foot-link .copyright{
    padding: 5px 0 10px;
    line-height: 12px;
    color: #fff;
}
/*foot-link end*/

.returnD{
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("../img/dingbu.png") no-repeat center center;
    background-size: 35px;
    bottom:60px;
    right: 25px;
}