/*commont*/
.container{
    width: 1111px;
    margin:0 auto;
    height: 100%;
}
.cl{
    zoom: 1;
}
.cl:after{
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height: 0
}
/*回到顶部的DIV*/
#returnD{
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("../yiu_img/dingbu.png") no-repeat center center;
    background-size: 35px;
    bottom:60px;
    right: 25px;
}
/*****************************首页  indexYM**********************************************/
.indexYM{

}
    /*header start*/
.indexYM .header{
    line-height: 35px;
    background: #f5f5f5;
}
.indexYM .header a{
    color: #000;
}
.indexYM .header a:hover{
    color: red;
}
.indexYM .header span{
    font-size: 12px;
}
.indexYM .header span a{
    padding: 0 20px 0 0;
}
.indexYM .header span:first-child{
    margin: 0 0 0 12px;
    float: left;
}
.indexYM .header span:last-child{
    float: right;
}
.indexYM .header ul li{
    float: left;
    margin:0 20px 0 0;
}
.indexYM .header ul li a{
    font-size: 12px;
    border-right: 1px solid #999;
}
.indexYM .header ul li:last-child a{
    border: 0;
}
.indexYM #login a,#register a{
    color: red;
}
/*header end*/

/*lsg start*/
.indexYM .lsg{
    padding: 15px 0 15px 0;
}
.indexYM .lsg .container>div{
    float: left;
}
.indexYM .lsg .container>div:first-child img{
    vertical-align:middle;
}
.indexYM .lsg .search{
    position: relative;
}
.indexYM .search .subBox{
    position: absolute;
    width: 400px;
    height: 40px;
    top: 10px;
}
.indexYM .subBoxDiv{
    position: relative;
    width: 400px;
    height: 40px;
}
.indexYM .subBoxDiv input{
    height: 100%;
    float: left;
}
.indexYM .subBoxDiv input:first-child{
    box-sizing: border-box;
    border: 1px solid red;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    width: 80%;
    padding: 0 0 0 10px;
}
.indexYM .subBoxDiv input:last-child{
    border: 1px solid red;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    width: 20%;
    cursor: pointer;
}
.indexYM .subBox .tishi{
    position: absolute;
    width: 400px;
    height: 20px;
    line-height: 20px;
}
.indexYM .subBox .tishi ul>a{
    float: right;
    color: red;
 }
.indexYM .subBox .tishi ul li{
    float: left;
    margin: 0 10px 0 0;
}
.indexYM .subBox .tishi ul li a{
    color: #333;
}
.indexYM .subBox .tishi ul li a:hover{
    color: red;
}
/*lsg end*/

/*nav start*/
.indexYM .nav{
    background:#000;
    line-height: 40px;
}
.indexYM .nav ul li{
    float: left;
    margin: 0 20px 0 0;
}
.indexYM .nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
}
/*nav end*/

/*banner start*/
.indexYM .banner{
    height: 420px;
    position: relative;
}
.indexYM .tup ul li{
    width: 100%;
    height: 420px;
    margin: 0 auto;
    z-index: 1;
}
.indexYM .tup ul li:nth-child(1){
    background: url('../yiu_img/banner01.jpg') no-repeat top center;
}
.indexYM .tup ul li:nth-child(2){
    background: url('../yiu_img/banner02.jpg') no-repeat top center;
}
.indexYM .tup ul li:nth-child(3){
    background: url('../yiu_img/banner03.jpg') no-repeat top center;
}
.indexYM .tup ul li:nth-child(4){
    background: url('../yiu_img/banner04.jpg') no-repeat top center;
}
.indexYM .tup ul li a{
    display: block;
    width: 100%;
    height: 85%;
}
.indexYM .banner .ann{
    width: 200px;
    line-height: 20px;
    position: absolute;
    bottom:5%;
    left:42%;
}
.indexYM .ann ul{
    display: flex;
    justify-content: space-around;
}
.indexYM .ann ul li{
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 9;
    opacity: 0.4;
    border-radius: 50%;
    background:#333;
    border: 3px solid rgba(255,255,255,0.7);
}
.indexYM .ann ul li a{
    color:transparent;
    cursor: default;
}
.indexYM .ann ul li.dActive{
    background: #fa3778;
}
/*banner end*/

/*cont start*/
.indexYM .cont{
    background: rgb(242,242,242);
}
.indexYM .cont .container{
    overflow: hidden;
}
.indexYM .cont .container .must1{
    height: 26px;
    margin-top: 30px;
    margin-bottom: 26px;
    background:url('../yiu_img/cont_tu01.png') no-repeat center center;
}
.indexYM .cont .product{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}
.indexYM .cont .product a{
    display: block;
    width: 550px;
    margin:0 0 11px 0;
}
.indexYM .cont .product .product_next{
    height: 260px;
    /*background: pink;*/
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    border: 1px solid #eee;
    background-color: white;
    box-sizing: border-box;
}
.indexYM .cont .product .product_next:hover{
    box-shadow: 0px 0px 6px 2px #ddd;
}
.indexYM .product_next img{
    width: 360px;
}
.indexYM .product_next .intro{
    width:190px;
    position: relative;
}
.indexYM .product_next .intro p{
    text-align: center;
}
.indexYM .product_next .intro p:nth-child(1){
    margin-top: 60px;
    font-size: 22px;
    color: #e93b78;
}
.indexYM .product_next .intro p:nth-child(2){
    color: #5a5a5a;
    font-size: 17px;
    margin-top: 10px;
}
.indexYM .product_next .intro p:nth-child(3){
    color: #5a5a5a;
    font-size: 13px;
    margin-top: 3px;
}
.indexYM .product_next .intro span{
    display: block;
    width: 108px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 42px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    background-color: #e93b78;
    letter-spacing: 1px;
}
.indexYM .product_next .intro span:hover{
    background-color: #c53265;
    cursor: default;
}
.indexYM .cont .container .must2{
    height: 26px;
    margin-top: 30px;
    margin-bottom: 26px;
    background:url('../yiu_img/cont_tu02.png') no-repeat center center;
}
.indexYM .cont .product2{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}
.indexYM .product2 .product_next2{
    width: 260px;
    height: 360px;
    background: #fff;
    overflow: hidden;
    margin: 0 5px 15px 0;
    padding:18px 5px 8px;
    position: relative;
    border: 1px solid #fff;

}
.indexYM .product2 .product_next2 img{
    max-width: 250px;
    max-height: 250px;
    padding: 1px;
    transition: all 500ms;
}
.indexYM .product2 .product_next2 img:hover{
    transform: scale(1.1);

}
.indexYM .product2 .product_next2 .new_icon{
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 10px;
    background: #80b53f;
}
.indexYM .product2 .product_next2 .new_icon p{
    padding: 6px 0;
    font-size: 13px;
    line-height: 14px;
    color: #fff;
    letter-spacing: 1px;
}
.indexYM .new_intro{
    height: 33px;
    line-height: 16px;
    padding: 0 15px;
    margin:10px 0 30px 0;
    overflow: hidden;
}
.indexYM .new_intro a{
    font-size: 13px;
    color: #222;
}
.indexYM .new_price{
    height: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
}
.indexYM .new_price span{
    float: left;
}
.indexYM .new_price span:nth-child(1){
    color: #fc3f83;
    font-size: 13px;
    margin: 3px 0 0 0;
}
.indexYM .new_price span:nth-child(2){
    color: #fc3f83;
    font-size: 18px;
}
.indexYM .new_price span:nth-child(3){
    margin: 5px 0 0 10px;
}
/*cont end*/

/*foot-co start*/
.indexYM .foot-co .foot-left{
    width: 750px;
    padding: 5px 0 60px;
    float: left;
}
.indexYM .foot-co .foot-left .item-co{
    width: 90px;
    float: left;
    margin: 16px 80px 0 0;
    overflow: hidden;
}
.indexYM .foot-co .foot-left .item-co dl{
    line-height: 2em;
}
.indexYM .foot-co .foot-left .item-co dt a{
    color: #222;
    font-size: 14px;
    font-weight: bold;
}
.indexYM .foot-co .foot-left .item-co dd a{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-size: 12px;
    line-height: 25px;
    color: #999;
}
.indexYM .foot-co .foot-right{
    width: 350px;
    padding: 5px 0 60px;
    float: right;
}
/*foot-co end*/

/*foot-link start*/
.indexYM .foot-link{
    background: #000;
    width: 100%;
}
.indexYM .foot-link .linkboard{
    padding: 26px 0 10px;
}
.indexYM .foot-link .linkboard a{
    display: block;
    color: #fff;
    float: left;
    padding: 5px;
}
.indexYM .foot-link .linkboard .fen{
    display: inline-block;
    padding: 5px;
    color: #fff;
    font-size: 12px;
}
.indexYM .foot-link .copyright{
    padding: 5px 0 10px 5px;
    line-height: 12px;
    color: #fff;
}
/*foot-link end*/

/************************************登录注册 loginYM  ******************************************/
.loginYM{
    background: url("../yiu_img/loginBG.jpg");
    background-size: cover;
    height: 100%;
}
.loginYM .header{
    height: 80px;
    border-bottom: 1px solid #444;
}
.loginYM .header .container{
    display: flex;
    justify-content: space-between;
}
.loginYM .header .headl img{
    height: 100%;
    padding: 10px 0 0 0;
    box-sizing: border-box;
}
.loginYM .header .headr{
    margin: 55px 0 0 500px;
    font-weight:bold;
}
.loginYM .header .headr a{
    color: #ff3c00;
}
.loginYM .loginform{
    /*background: pink;*/
    opacity: 0.6;
    /*width: 500px;*/
    padding:0 390px;
    overflow: hidden;

}
.loginYM .loginform .loginRight{
    text-align: center;
    background: #eee;
    border-radius: 50px;
    padding:15px 0 50px ;
    margin: 20px 0;
}
.loginYM .loginform .loginRight>h2{
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    font-family: "微软雅黑";
}
.loginYM .loginform .loginRight>h3 {
    font-size: 12px;
    font-weight: 400;
    height: 25px;
    line-height: 25px;
    margin-top: 10px;

}
.loginYM .loginform .loginRight>input{
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    width: 283px;
    height: 33px;
    border: #738400 1px solid;
    background: #FEFFDF;
    padding:0 13px;
    border-radius:20px;
    box-sizing: border-box;
}
.loginYM .loginform .loginRight .zhuangtai{
    height: 30px;
    line-height: 30px;
}
.loginYM .zhuangtai input{
    position: relative;
    top: 2px;
}
.loginYM .loginform .loginRight button{
    width: 110px;
    height: 33px;
    margin: 10px 25px;
    border-radius:20px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    background: hotpink;
    outline:none;
    float: left;
}
.loginYM .tishi{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background: rgba(0,0,0,0.5);
    display: none;
}
.loginYM .tishi .tishicont{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 20%;
    left:38%;
    text-align: center;
    background: #fff;
    border-radius: 30%;
}
.loginYM .tishi .tishicont img{
    width: 100px;
    margin: 60px 0;
}
.loginYM .tishi .tishicont p{
    font-size: 20px;
}
/******************************************个人中心 personalYM******************************/
.personalYM{
    /*background: url("../yiu_img/loginBG.jpg");*/
    /*background-size: cover;*/
    height: 100%;
}
.personalYM .header{
    height: 80px;
    /*background: rgb(72,137,196);*/
}
.personalYM .header .container{
    display: flex;
    justify-content: space-between;
}
.personalYM .header .headl{
    overflow: hidden;
    padding: 1px;
    line-height: 80px;
}
.personalYM .header .headl a{
    margin: 0 0 0 50px;
    font-size: 16px;
    font-weight: bold;
    float: left;
    color: #000;
}
.personalYM .header .headl a:hover{
    color: #2d76fc;
}
.personalYM .header .headl img{
    height: 100%;
    padding: 10px 0 0 0;
    box-sizing: border-box;
    float: left;
}
.personalYM .header .headr{
    overflow: hidden;
    padding: 1px;
    line-height: 80px;

}
.personalYM .header .headr a{
    margin: 0 0 0 10px;
    font-size: 16px;
    font-weight: bold;
    float: left;
    color: #000;
}
.personalYM .header .headr a:hover{
    color: #2d76fc;
}
/*cont start*/
.personalYM .cont{
    background: url("../yiu_img/personal.jpg");
    background-size:cover;
    height: 150px;
    position: relative;
}
.personalYM .cont .tou{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow:0px 0px 3px 1px #ddd; ;
    top: 40px;
    left: 200px;
    background:url("../yiu_img/tou.jpg");
    background-size:cover;
    position: absolute;
    z-index: 50;
}
.personalYM .cont p{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 270px;
    border-radius: 20px;
    padding: 30px 80px 30px 120px;
    background: rgba(255,255,255,0.1);
    z-index: 49;
}
/*cont end*/

/*mymsg start*/
.personalYM .mymsg{
    /*height: 600px;*/
    /*background: pink;*/
    padding: 30px 0 100px;
}
.personalYM .mymsg .container{
    display: flex;
    justify-content: space-between;
}
.personalYM .mymsg .left{

}
.personalYM .mymsg .left ul{
    border: 1px solid #999;
    margin: 0 0 0 150px;
    background: rgb(250,250,250);
}
.personalYM .mymsg .left ul li{
    padding: 20px;
    margin: 5px;
}
.personalYM .mymsg .left ul li a{
    font-size: 16px;
    color: #000;
}
.personalYM .mymsg .left ul li.fActive{
    background:rgb(175,175,175);
}
.personalYM .mymsg .left ul li:hover{
    background: rgba(0,0,0,0.3);
}
.personalYM .mymsg .right{
    width: 800px ;
    border: 1px solid #999;
}
.personalYM .mymsg .right .msgtitle{
    font-size: 20px;
    padding: 0 0 0 20px;
    margin: 20px 0 40px 20px;
    font-weight: bold;
    border-left: 5px solid #0048ff;

}
/*tab切换 right*/
/*个人信息*/
.personalYM .mymsg .right .dingd{
    margin: 1px;
    background: #ececec;
}
.personalYM .mymsg .right .dingd ul{
    line-height: 28px;
    display: flex;
}
.personalYM .mymsg .right .dingd ul li{
    text-align: center;
}
.personalYM .mymsg .tab0 .dingd ul li:nth-child(1){
    width: 12%;
}
.personalYM .mymsg .tab0 .dingd ul li:nth-child(2){
    width: 12%;
}
.personalYM .mymsg .tab0 .dingd ul li:nth-child(3){
    width: 12%;
}
.personalYM .mymsg .tab0 .dingd ul li:nth-child(4){
    width: 21%;
}
.personalYM .mymsg .tab0 .dingd ul li:nth-child(5){
    width: 21%;
}
.personalYM .mymsg .tab0 .dingd ul li:nth-child(6){
    width: 21%;
}
.personalYM .mymsg .right .goods{
    margin: 1px;
}
.personalYM .mymsg .right .goods ol>li{
    border-bottom: 1px dotted #999;
}
.personalYM .mymsg .tab0 .goods ol>li:last-child{
    border: none;
}
.personalYM .mymsg .right .goods ul{
    line-height: 28px;
    display: flex;
}
.personalYM .mymsg .right .goods ul li{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px dotted #999;
}
.personalYM .mymsg .right .goods ul li:last-child{
    border: none;
}
.personalYM .mymsg .tab0 .goods ul li:nth-child(1){
    width: 12%;
}
.personalYM .mymsg .tab0 .goods ul li:nth-child(2){
    width: 12%;
}
.personalYM .mymsg .tab0 .goods ul li:nth-child(3){
    width: 12%;
}
.personalYM .mymsg .tab0 .goods ul li:nth-child(4){
    width: 21%;
}
.personalYM .mymsg .tab0 .goods ul li:nth-child(5){
    width: 21%;
}
.personalYM .mymsg .tab0 .goods ul li:nth-child(6){
    width: 21%;
}
.personalYM .mymsg .tab0 .goods ul li:nth-child(6) a{
    margin:0 10px;
}
/*我的订单*/
.personalYM .mymsg .right .dingd{
    margin: 1px;
    background: #ececec;
}
.personalYM .mymsg .right .dingd ul{
    line-height: 28px;
    display: flex;
}
.personalYM .mymsg .right .dingd ul li{
    text-align: center;
}
.personalYM .mymsg .tab1 .dingd ul li:nth-child(1){
    width: 40%;
}
.personalYM .mymsg .tab1 .dingd ul li:nth-child(2){
    width: 15%;
}
.personalYM .mymsg .tab1 .dingd ul li:nth-child(3){
    width: 15%;
}
.personalYM .mymsg .tab1 .dingd ul li:nth-child(4){
    width: 15%;
}
.personalYM .mymsg .tab1 .dingd ul li:nth-child(5){
    width: 15%;
}
.personalYM .mymsg .tab1 .goods .zongji{
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
    border-bottom: 1px solid #000;
}
.personalYM .mymsg .tab1 .goods .zongji strong{
    color: red;
}
.personalYM .mymsg .tab1 .goods>a{
    float: right;
    padding: 15px;
    margin: 10px;
    color: #fff;
    background: #666;
}
.personalYM .mymsg .right .goods ul{
    line-height: 28px;
    display: flex;
}
.personalYM .mymsg .right .goods ul li{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personalYM .mymsg .tab1 .goods ul li:nth-child(1){
    width: 40%;
}
.personalYM .mymsg .tab1 .goods ul li>img{
    width: 80px;
    height: 80px;
}
.personalYM .mymsg .tab1 .goods ul li>p{
    line-height:normal;
}
.personalYM .mymsg .tab1 .goods ul li:nth-child(2){
    width: 15%;
}
.personalYM .mymsg .tab1 .goods ul li:nth-child(3){
    width: 15%;
}
.personalYM .mymsg .tab1 .goods ul li:nth-child(3) input{
    width: 25%;
}
.personalYM .mymsg .tab1 .goods ul li:nth-child(4){
    width: 15%;
}
.personalYM .mymsg .tab1 .goods ul li:nth-child(5){
    width: 15%;
}
.personalYM .mymsg .tab1 .goods ul li:nth-child(5) a{
    margin: 10px;
    color: blue;
}
.personalYM .mymsg .tab1 .goods ul li:nth-child(5) a:hover{
    color: red;
}
/*个人中心*/
.personalYM .mymsg .right .form-item{
    margin-bottom: 22px;
    padding: 22px 0 0 0;
    /*border-top: 1px dotted #999;*/
    float: left;
    width: 800px;
}
.personalYM .mymsg .right .form-item label{
    width: 95px;
    text-align: right;
    margin-right: 20px;
    float: left;
    line-height: 30px;
    padding: 0;
}
.personalYM .mymsg .right .form-item input{
    float: left;
    width: 225px;
    height: 30px;
    margin-right: 40px;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    font-size: inherit;
    height: 36px;
    line-height: 1;
    outline: 0;
    padding: 3px 10px;
}
.personalYM .mymsg .right .form-item button{
    width: 110px;
    height: 30px;
    border-radius: 10px;
    margin: 0 0 0 200px;
    border: none;
    background: pink;
    outline: none;
}
/*在线留言*/
.personalYM .mymsg .tab5 textarea{
    width: 225px;
    height: 250px;
}
.personalYM .foot-link{
    background: #000;
    width: 100%;
}
.personalYM .foot-link .linkboard{
    padding: 26px 0 10px;
}
.personalYM .foot-link .linkboard a{
    display: block;
    color: #fff;
    float: left;
    padding: 5px;
}
.personalYM .foot-link .linkboard .fen{
    display: inline-block;
    padding: 5px;
    color: #fff;
    font-size: 12px;
}
.personalYM .foot-link .copyright{
    padding: 5px 0 10px 5px;
    line-height: 12px;
    color: #fff;
}
/*foot-link end*/
/*mymsg end*/


/******************************************产品详情 productYM******************************/
/*头和尾是直接用的indexYM中的模板*/
/*header start*/
.productYM .header{
    line-height: 35px;
    background: #f5f5f5;
}
.productYM .header a{
    color: #000;
}
.productYM .header a:hover{
    color: red;
}
.productYM .header span{
    font-size: 12px;
}
.productYM .header span a{
    padding: 0 20px 0 0;
}
.productYM .header span:first-child{
    margin: 0 0 0 12px;
    float: left;
}
.productYM .header span:last-child{
    float: right;
}
.productYM .header ul li{
    float: left;
    margin:0 20px 0 0;
}
.productYM .header ul li a{
    font-size: 12px;
    border-right: 1px solid #999;
}
.productYM .header ul li:last-child a{
    border: 0;
}
.productYM #login a,#register a{
    color: red;
}
/*header end*/

/*lsg start*/
.productYM .lsg{
    padding: 15px 0 15px 0;
}
.productYM .lsg .container>div{
    float: left;
}
.productYM .lsg .container>div:first-child img{
    vertical-align:middle;
}
.productYM .lsg .search{
    position: relative;
}
.productYM .search .subBox{
    position: absolute;
    width: 400px;
    height: 40px;
    top: 10px;
}
.productYM .subBoxDiv{
    position: relative;
    width: 400px;
    height: 40px;
}
.productYM .subBoxDiv input{
    height: 100%;
    float: left;
}
.productYM .subBoxDiv input:first-child{
    box-sizing: border-box;
    border: 1px solid red;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    width: 80%;
    padding: 0 0 0 10px;
}
.productYM .subBoxDiv input:last-child{
    border: 1px solid red;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    width: 20%;
    cursor: pointer;
}
.productYM .subBox .tishi{
    position: absolute;
    width: 400px;
    height: 20px;
    line-height: 20px;
}
.productYM .subBox .tishi ul>a{
    float: right;
    color: red;
}
.productYM .subBox .tishi ul li{
    float: left;
    margin: 0 10px 0 0;
}
.productYM .subBox .tishi ul li a{
    color: #333;
}
.productYM .subBox .tishi ul li a:hover{
    color: red;
}
/*lsg end*/

/*nav start*/
.productYM .nav{
    background:#000;
    line-height: 40px;
}
.productYM .nav ul li{
    float: left;
    margin: 0 20px 0 0;
}
.productYM .nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
}
/*nav end*/
/*foot-co start*/
.productYM .foot-co .foot-left{
    width: 750px;
    padding: 5px 0 60px;
    float: left;
}
.productYM .foot-co .foot-left .item-co{
    width: 90px;
    float: left;
    margin: 16px 80px 0 0;
    overflow: hidden;
}
.productYM .foot-co .foot-left .item-co dl{
    line-height: 2em;
}
.productYM .foot-co .foot-left .item-co dt a{
    color: #222;
    font-size: 14px;
    font-weight: bold;
}
.productYM .foot-co .foot-left .item-co dd a{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-size: 12px;
    line-height: 25px;
    color: #999;
}
.productYM .foot-co .foot-right{
    width: 350px;
    padding: 5px 0 60px;
    float: right;
}
/*foot-co end*/

/*foot-link start*/
.productYM .foot-link{
    background: #000;
    width: 100%;
}
.productYM .foot-link .linkboard{
    padding: 26px 0 10px;
}
.productYM .foot-link .linkboard a{
    display: block;
    color: #fff;
    float: left;
    padding: 5px;
}
.productYM .foot-link .linkboard .fen{
    display: inline-block;
    padding: 5px;
    color: #fff;
    font-size: 12px;
}
.productYM .foot-link .copyright{
    padding: 5px 0 10px 5px;
    line-height: 12px;
    color: #fff;
}
/*foot-link end*/