body,ul,ol,p,dl,dd,h2,h3{
    margin: 0;
}
ul,input,ol{
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
table{
	border-collapse: collapse;
}
/*去除点击input后的边框*/
html{
    height: 100%;
}
body{
    height: 100%;
    font-size: 12px;
    color: #333;
    overflow-x:hidden
}

input{
    outline:none;
}